{% extends 'base.html' %}

{% block content %}
<div style="height: 32px;"></div>
<div class="text-start">
    <p><a href='JavaScript:history.back()'>←戻る</a></p>
</div>

<div class="wrap centered-box">
  <div style="height: 32px;"></div>
  <h2>編集</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">保存する</button>
  </form>
</div>

<div style="height: 48px;"></div>

<a href="{{ delete_url }}" onclick="return confirm('削除しますか？')">
  <button class="button-red">削除</button>
</a>

<div style="height: 48px;"></div>

{% endblock %}